[secrets]
build_flags = 
    -D WIFI_SSID_1=\"WIFI_NETWORK_HERE\"
    -D WIFI_PASS_1=\"WIFI_PASSWORD_HERE\"
    ; -D WIFI_SSID_2=\"WIFI_NETWORK_HERE\"
    ; -D WIFI_PASS_2=\"WIFI_PASSWORD_HERE\"
    ; -D WIFI_SSID_3=\"WIFI_NETWORK_HERE\"
    ; -D WIFI_PASS_3=\"WIFI_PASSWORD_HERE\"
    -D EC2_IP_ADDRESS=\"EC2_IP_HERE\"
    -D DEVICE_NAME=\"DEV_NAME_HERE\"